<hr class="featurette-divider">
<div class="row featurette ml-3">
  <div class="col-md-6">
    <h2 class="featurette-heading">ABOUT US</h2>
    <p class="lead">Shergill Transport Ltd. accurately and rapidly handles all aspects of the freight process, including the tracking of shipment information such as current status, key transaction dates, cargo control and/or bill of lading numbers, number of pieces and weight, carrier name, and more.
 </p>
 <button type="button">Learn more</button>
  </div>
  <div class="col-md-6">
    <img src="/assets/img/aboutus.jpg" height="300" width="500">
    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette ml-3">
  <div class="col-md-7 order-md-2 pull-left">
    <h2 class="featurette-heading">WHY CHOOSE US</h2>
    <p class="lead">Here at Shergill Transport Ltd. We pride ourselves on being: Respectful, Honest, professional, fast and reliable. We see and understand what our customer’s needs are through constant communication and visualization this ensures we prevent problems before they arise. The team at Shergill Transport keeps our service standards high with our up to date equipment and “Real Time” tracking we set the bar higher for others to try to reach..</p>
    <button type="button">Learn more</button>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="/assets/img/img_3.jpg" height="300" width="500">
  </div>
</div>