/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
/* Base */
button {
    display: inline-block;
    padding: 12px 24px;
    background: #E3C60B;
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button.delete {
    display: inline-block;
    padding: 12px 24px;
    background: #ff0000;
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  button.delete:hover {
    background: #ff3333;
    color: #ffffff;
  }

  button:hover {
    background: rgb(250, 218, 7);
    color: #ffffff;
  }

  .headerDiv{
    background-color: #EFEFEF;
    height:100px;
    width:100%;
    vertical-align: middle;
    
      
    }

    .policy{

      background-color: #EFEFEF;
    }

    .text-heading {
     font-size: 18px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;


    }