<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Auto Haul</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <img  src="/assets/img/Fateh_autohaul.jpg" height="400px" width="70%">
  </div>
  <div class="row ">
  <h3>The best choice for your vehicle transport needs – Auto Haul division.
  </h3>
  <p>
    We believe in co-operation, combined with a united efforts & always make a huge difference in providing excellent services to each & every customer.
  </p>
  <p>
    We haul vehicles all over North America and always fulfill our client’s rising demands to the best of our ability. We go far and beyond to make our customer satisfied, which keeps them connected with us forever.
  </p>
  <p>
    Handling the cargo (vehicles) is the major priority. Well trained drivers, with lots of transportation experience make sure to deliver the vehicles with full care to the desired destination.
  </p>
  </div>
</div>





