<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Heavy Haul</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <img  src="/assets/img/Fateh_heavyhaul.jpg" height="400px" width="70%">
  </div>
  <div class="row ">
  <h3>Here at Shergill Transport Ltd. We pride ourselves on being able to move anything, any size, anywhere in a safe and timely manner..
  </h3>
  <p>
    Our team of trained professionals are ready for any challenge whether it be tackling the Northern Canadian Ice roads or getting escorted through the downtown streets of New York, we have what it takes to get the job done. We currently service the construction, oil patch, mining and machinery industries as well as military and defense contracts. Our equipment consists of Trombone step decks, Stretch RGN’s and Double Drop trailers that are fit and ready to tackle any project big or small to any point in North America.
  </p>
  <p>
    For your next big move call Shergill to get the job done right!
  </p>
   </div>
</div>





