<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Tandem Flat / Slip & Roll-Tite</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <img  src="/assets/img/Fateh_tandemflat.jpg" height="400px" width="70%">
  </div>
  <div class="row ">
  <h3>At Fateh S Limited, we recognize that our customers have specific needs that are not necessarily compatible with standard flatbed products.
  </h3>
  <p>
    In an effort to provide seamless, service-sensitive, headache-free solutions, our flatbed division offers one of the most diverse selections of trailer configurations in the market. Our growing fleet of experienced drivers is always on alert to give you the excellent performance that our customers have come to expect. The professionals at Fateh S Limited have been hard at work for nearly 10 years, so if you need solutions, consider it done.
  </p>
  <p>
    At Fateh S Limited, we recognize that our customers have specific needs that are not necessarily compatible with standard flatbed products. In an effort to provide seamless, service-sensitive, headache-free solutions, our flatbed division offers one of the most diverse selections of trailer configurations in the market. Our growing fleet of experienced drivers is always on alert to give you the excellent performance that our customers have come to expect. The professionals at Fateh S Limited have been hard at work for nearly 10 years, so if you need solutions, consider it done.
  </p>