<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Our Technology</h1>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <img  src="/assets/img/gps-navigator.jpg" height="200px" width="230px">
    </div>
    <div class="col-md-9"> 
      <h3>Technology Advanced</h3>
      <p>Fateh's Transport Ltd. accurately and rapidly handles all aspects of the freight process, including the tracking of shipment information such as current status, key transaction dates, cargo control and/or bill of lading numbers, number of pieces and weight, carrier name, and more.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <img  src="/assets/img/marketing-reports.png" height="200px" width="230px">
    </div>
    <div class="col-md-9"> 
      <h3>Reports</h3>
      <p>Additionally, to assist you in the analysis of your costs and other pertinent data, we can generate reports from the system on weekly or monthly basis, covering any of the data items used in completing a transaction. These reports can be designed to include activity reports detailing balances still in transit, or whatever other requirements you may have.</p>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-md-3">
      <img  src="/assets/img/electronic-data-interchange-edi.jpg" height="200px" width="230px">
    </div>
    <div class="col-md-9"> 
      <h3>EDI</h3>
      <p>Fateh's Transport has implemented full Electronic Data Interchange (EDI) solutions for many of our clients who wish to eliminate paper documents altogether. All the information needed to create invoices, can be received from you by data transmission. Billing and payment can also be handled using EDI.</p>
    </div>
  </div>

</div>