<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Our Commitment</h1>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col-md-8">
      <h3>Fateh's Transport Ltd. is constantly assessing the manner in which it does business.</h3>
    <p>In order to provide leading edge services, we have adopted a plan in which each business process is evaluated on a regular basis. This is done in order to eliminate any redundant or outdated practices and to insure that all practices are taking advantage of the most up to date technology.</p>
    <p>The successful business operation and reputation of Fateh's Transport Ltd. is built upon the principles of fair dealing and ethical conduct of our employees. Our reputation for integrity and excellence requires careful observance of the spirit and letter of all applicable laws and regulations, as well as a scrupulous regard for the highest standards of conduct and personal integrity.</p>
  </div>
    <div class="col-md-4"> <img  src="/assets/img/fateh_safety_compliance.png" height="230px" width="300px"></div>
  </div>

</div>