<div class="container mt-3">
  <div class="row justify-content-center mt-2 headerDiv">
    <h1>Our Services</h1>
  </div>

  <div class="row">
 
    <div class="col-12 col-md-6">
    
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/our-services/logistics']">LOGISTICS</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/our-services/auto-haul']">AUTO HAUL</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/our-services/heavy-haul']">HEAVY HAUL</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/our-services/super-b']">SUPER B</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/our-services/tandem-flat-step-tite']">TANDEM FLAT / STEP & ROLL-TITE</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/our-services/dry-van']">DRY VAN</a></li>
      </ul>
    </div>
  </div>
</div>

