<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Super B</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <img  src="/assets/img/Fateh_superb.jpg" height="400px" width="70%">
  </div>
  <div class="row ">
  <h3>Our Super “B” Trains are licensed to operate extra provincially in British Columbia through to Ontario, Quebec and the Maritime Provinces providing 90,000 Lbs load capacity..
  </h3>
  <p>
    We provide Truck Load or LTL service to our customers in the manufacturing, building materials and forest industries.
  </p>
 
   </div>
</div>





