<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- <div class="container"> -->

    <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" height="45px" /></a>

    <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault"> -->

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <div class="dropdown nav-link" dropdown triggers="hover">
          <a class="dropdown-toggle text-light" dropdownToggle [routerLink]="['/our-services']">
            OUR SERVICES
          </a>

          <div class="dropdown-menu mt-3" *dropdownMenu style="padding-right: 10px;">
            <a class="dropdown-item" [routerLink]="['/our-services/logistics']" routerLinkActive="active">LOGISTICS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/our-services/auto-haul']" routerLinkActive="active">AUTO HAUL</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/our-services/heavy-haul']" routerLinkActive="active">HEAVY HAUL</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/our-services/super-b']" routerLinkActive="active">SUPER B</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/our-services/tandem-flat-step-tite']" routerLinkActive="active">TANDEM FLAT / SLIP & ROLL-TITE</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/our-services/dry-van']" routerLinkActive="active">DRY VAN</a>
          </div>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <div class="dropdown nav-link" dropdown triggers="hover">
          <a class="dropdown-toggle text-light" dropdownToggle [routerLink]="['/why-choose-us']">
            WHY CHOOSE US?
          </a>

          <div class="dropdown-menu mt-3" *dropdownMenu style="padding-right: 10px;">
            <!-- <a class="dropdown-item" [routerLink]="['/why-choose-us/company-profile']" routerLinkActive="active">COMPANY PROFILE</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" [routerLink]="['/why-choose-us/management-philosophy']" routerLinkActive="active">MANAGEMENT PHILOSOPHY</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/why-choose-us/our-commitment']" routerLinkActive="active">OUR COMITMENT</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/why-choose-us/our-technology']" routerLinkActive="active">OUT TECHNOLOGY</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/why-choose-us/equipment-and-accessories']" routerLinkActive="active">EQUIPMENT & ACCESSORIES</a> -->
            
          </div>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/safety-compliance']">SAFETY & COMPLIANCE</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/quotes-request']">GET A QUOTE</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact-us']">CONTACT</a>
      </li> -->

      <li class="nav-item" routerLinkActive="active">
        <div class="dropdown nav-link" dropdown triggers="hover">
          <a class="dropdown-toggle text-light" dropdownToggle [routerLink]="['/contact-us']">
            CONTACT
          </a>
          <div class="dropdown-menu mt-3" *dropdownMenu style="padding-right: 10px;">
            <a class="dropdown-item" [routerLink]="['/contact-us/office-locations']" routerLinkActive="active">OFFICE LOCATIONS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/contact-us/employment']" routerLinkActive="active">EMPLOYMENT</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/contact-us/download-form']" routerLinkActive="active">DOWNLOAD FORM</a>
          </div>
        </div>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome user
      </a>

      <div class="dropdown-menu mt-4" *dropdownMenu style="padding-right: 10px;">
        <a class="dropdown-item" [routerLink]="['/quotes']" routerLinkActive="active">Quotes</a>
        <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Another action</a> -->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required
        [(ngModel)]="model.username" />
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required
        [(ngModel)]="model.password" />
      <button [disabled]="!loginForm.valid" class="btn btn-secondary my-2 my-sm-0" type="submit">
        Admin Login
      </button>
    </form>

    <!-- </div> -->
    <!-- </div> -->
  </nav>
</header>
