<div class="container mt-3">
  <div class="row justify-content-center mt-2 headerDiv">
    <h1>Why Choose Us?</h1>
  </div>

  <div class="row">
 
    <div class="col-12 col-md-6">
    
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item"><a class="nav-link" [routerLink]="['/why-choose-us/company-profile']">COMPANY PROFILE</a></li> -->
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/why-choose-us/management-philosophy']">MANAGEMENT PHILOSOPHY</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/why-choose-us/our-comitment']">OUR COMITMENT</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/why-choose-us/our-technology']">OUR TECHNOLOGY</a></li>
        <!-- <li class="list-group-item"><a class="nav-link" [routerLink]="['/why-choose-us/equipment-and-accessories']">EQUIPMENT & ACCESSORIES</a></li> -->
        </ul>
    </div>
  </div>
</div>

