<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Dry Van / Heated Van</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <img  src="/assets/img/fateh_dryvan.jpg" height="400px" width="70%">
  </div>
  <div class="row ">
  <h3>Fateh's Transport Ltd. successfully operates truckload fleet by incorporating the strongest core values with the most comprehensive terminal network in the industry..
  </h3>
  <p>
    Our commitment to safety, service, and damage-free delivery is paramount within our walls and on the road. This dominant market density affords us the opportunity to be here when you need us most, around the clock. We offer outstanding service throughout the US, and Canada with unparalleled capacity to meet your seasonal demands.
  </p>
 