<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Management Philosophy</h1>
  </div>

  <div class="row mt-3">
    <h3>Fateh's Transport Ltd. management philosophy is based on responsibility and mutual respect.</h3>
    <div class="col-md-8"><p>People who come to Fateh's Transport Ltd. want to work here because we have created an environment that encourages creativity and achievement. Fateh's Transport Ltd. aims to become a leader in transportation and logistics solutions. The mainstay of our strategy will be to offer a level of client focus that is superior to that offered by our competitors.</p>
    <p>To help achieve this objective, Fateh's Transport Ltd. seeks to attract highly motivated individuals that want to work as a team and share in the commitment, responsibility, risk taking and discipline required to achieve our vision. Part of attracting these special individuals will be to build a culture that promotes both uniqueness and a bias for action.</p>
    </div>
    <div class="col-md-4"> <img  src="/assets/img/fateh_safety_compliance.png" height="230px" width="300px"></div>
  </div>

  <div class="row mt-3 policy mb-3">
    <div class="col-md-6 mt-3">
      <span class="text-heading">Policies</span> 
      <p>
        Providing safe working conditions and maintaining continuity of employment is of continual concern. In this regard, it is important that adequate policies and procedures be developed and adhered to in order to ensure safe, efficient operating conditions, thereby safeguarding employees and facilities.
      </p>
    <p>To help achieve this objective, Fateh's Transport Ltd. seeks to attract highly motivated individuals that want to work as a team and share in the commitment, responsibility, risk taking and discipline required to achieve our vision. Part of attracting these special individuals will be to build a culture that promotes both uniqueness and a bias for action.</p>
    </div>
    <div class="col-md-6 mt-3"> 
      <span class="text-heading">Mission Statement</span> 
      <p>
        Here at Fateh's Transport Ltd. We pride ourselves on being: Respectful, Honest, professional, 
        fast and reliable. We see and understand what our customer’s needs are through constant communication 
        and visualization this ensures we prevent problems before they arise. The team at Fateh's 
        Transport keeps our service standards high with our up to date equipment and “Real Time” tracking we set the bar higher for others to try to reach. We believe that with a combined effort of co-operation and attention to detail 
        that we will always be a cut above the rest.
      </p>
    </div>
  </div>
</div>