
<div class="container mt-3">
  <div class="row justify-content-center mt-2 headerDiv">
    <h1>Contact</h1>
  </div>

  <div class="row">
 
    <div class="col-12 col-md-6">
    
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/contact-us/office-locations']">OFFICE LOCATIONS</a></li>
        <li class="list-group-item"><a class="nav-link" [routerLink]="['/contact-us/employment']">EMPLOYMENT</a></li>
        <!-- <li class="list-group-item"><a class="nav-link" [routerLink]="['/contact-us/download-form']">DOWNLOAD FORM</a></li> -->
      </ul>
    </div>
  </div>
</div>

