<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
  <div class="container">
  <div class="row">
    
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget subscribe no-box">
    <img _ngcontent-wjo-c1="" height="70px" src="/assets/img/logo.png">
  <!-- <h5 class="widget-title">Fateh S LIMMITED<span></span></h5> -->
  <p>
    8 Kelsey trail St. Andrews
    <br>
    Winnipeg
   <br>
   MB R1A3Y4
   <br>
   Canada
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Our Services<span></span></h5>
  <ul class="thumbnail-widget">
  <li>
  <div class="thumb-content"><a class="nav-link" [routerLink]="['/our-services/logistics']">LOGISTICS</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="nav-link" [routerLink]="['/our-services/auto-haul']">AUTO HAUL</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="nav-link" [routerLink]="['/our-services/heavy-haul']">HEAVY HAUL</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="nav-link" [routerLink]="['/our-services/super-b']">SUPER B</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="nav-link" [routerLink]="['/our-services/tandem-flat-step-tite']">TANDEM FLAT / STEP & ROLL-TITE</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="nav-link" [routerLink]="['/our-services/dry-van']">DRY VAN</a></div>	
  </li>
  </ul>
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Get Started<span></span></h5>
  <p>Get quote of your requirements.</p>
  <button type="button" (click) ="requestQuote()">REQUEST A QUOTE</button>
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  
  <div class="widget no-box">
  <h5 class="widget-title">Contact Us<span></span></h5>
  
  <p><a href="mailto:fatehsltd@gmail.com" title="fatehsltd@gmail.com">fatehsltd@gmail.com</a></p>
  <p><strong>Phone:</strong> 204-899-9701</p>

  </div>
  </div>
  
  </div>
  </div>
  </div>
    
  <div class="footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
  <p>Copyright Fateh S Limited © 2020. All rights reserved.</p>
  </div>
  </div>
  </div>
  </div>
  </footer>