<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Employment</h1>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col-md-8">
      <h3>If you think you could provide safe and quality service to our customers then we’d love to have you on our team!.</h3>
    <p>We are always seeking single and team drivers. We can provide the trailer or you can use your own. You won’t find a company that pays better working on a percentage scale..</p>
    <p>We also offer drivers a choice of fuel cards, health benefits as well as the destination and loads you want to carry. We offer all new equipment, cell phones, as well as safety bonuses. Aside from trained drivers, our company also has opportunities for highly motivated, well spoken individuals for office positions (dispatchers, receptionists, safety monitors etc …).</p>
  </div>
    <div class="col-md-4"> <img  src="/assets/img/fateh_safety_compliance.png" height="230px" width="300px"></div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      <a target="_blank" [routerLink]="['/contact-us/driver-application']">Driver Application</a>
    </div>
  </div>

</div>