


<div class="container">
  <div class="row justify-content-center mt-2 headerDiv">
    <h1>Request A Quote</h1>
  </div>
<div class="row">

</div>

<form #quoteForm="ngForm" (ngSubmit)="submitQuote()">
  <label>
    <p class="label-txt">Company Name</p>
    <input type="text" class="input" required name="companyname" [(ngModel)]="model.companyname"/>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Name</p>
    <input type="text" class="input" required name="name" [(ngModel)]="model.name"/>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Phone</p>
    <input type="email" class="input" required name="phone" [(ngModel)]="model.phone"/>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Email</p>
    <input type="email" class="input" required name="email" [(ngModel)]="model.email"/>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>

  <label>
    <p class="label-txt">Origin City</p>
    <input type="text" class="input" required name="origincity" [(ngModel)]="model.origincity" />
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Destination City</p>
    <input type="text" class="input" required name="destinationcity" [(ngModel)]="model.destinationcity"/>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Brief Overview</p>
    <textarea cols="50" rows="5" class="input" required name="overview" [(ngModel)]="model.overview"></textarea>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit" [disabled] ="!quoteForm.valid">Submit</button>
</form>
</div>



