<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Logistics</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <img  src="/assets/img/fateh_logistics.jpg" height="400px" width="70%">
  </div>
  <div class="row ">
  <h3>We also offer our valued customers an asset based logistics service as a division of our regular operations.
  </h3>
  <p>
    We partner with only reliable and proven carriers to ensure that your freight will be delivered according to your requirements. All of our partner carriers are FAST approved and in full compliance as per our corporate policies. Our team of professionals is able to offer their years of transportation experience in order to cater to your specific transportation needs.
  </p>
  <p>
    In addition, we are also able to provide cross docking facilities and storage on a short term or long term basis at our Langley terminal.
  </p>
  </div>
</div>





