<div class="container">
  <div class="row justify-content-center mt-3 headerDiv">
    <h1>Safety & Compliance</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <img  src="/assets/img/fateh_safety_compliance.png" height="400px" width="70%">
  </div>
  <div class="row mt-3">
  <p>Providing safe working conditions and maintaining continuity of employment is of continual concern. In this regard, it is important that adequate policies and procedures be developed and adhered to in order to ensure safe, efficient operating conditions, thereby safeguarding employees and facilities.  </p>
  <p>
    Fateh's Transport Ltd. will not knowingly permit unsafe conditions to exist, nor will it permit employees to indulge in unsafe acts. Violations of Company rules and regulations will result in disciplinary action. The company believes that the safety of employees and physical property can best be ensured by a meaningful program. Fateh's Transport Ltd. operates in accordance with Workers compensation board guidelines and as such encourages the employee’s involvement in company-wide safety committee meetings to be held quarterly.
  </p>
  <p>
    Supervisors are responsible for the working conditions within their department and remain alert at all times to dangerous and unsafe conditions. So that they can recommend corrective action, discipline employees who habitually create or indulge in unsafe practices, assess new or changed situations for inherent dangers, and follow up on employee suggestions for corrective action.
  </p>
   </div>
</div>





